<div class="sidebar">
 <div class="profile-card">
   <img src="{{ .Site.Params.profilePhoto | relURL }}" alt="Profile Photo">
   <h2>{{ .Site.Params.name_en }}</h2>
   <h3>{{ .Site.Params.name_cn }}</h3>
   <p>{{ .Site.Params.position }}</p>
   <p>{{ .Site.Params.company }}</p>
 </div>
 <div class="social-links mt-2">
  <a href="https://scholar.google.com/citations?user=1hvJRIQAAAAJ&hl"
     target="_blank"
     rel="noopener noreferrer"
     aria-label="Google Scholar"
     class="inline-block text-gray-600 hover:text-blue-600 transition">
    <i class="ai ai-google-scholar ai-2x align-middle"></i>
  </a>
  </div>
  <nav class="nav">
    <div class="hamburger">&#9776;</div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/#about">About</a></li>
      <li><a href="/#publications">Publications</a></li>
      <li><a href="/#poster">Posters</a></li>
      <li><a href="/#contact">Contact</a></li>
      <li><a href="/blog/">Capybara's blog</a></li>
    </ul>
  </nav>
</div>

