<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Yihao Wu",
  "alternateName": "吴逸豪",
  "image": "{{ .Site.BaseURL }}images/wyh.jpg",
  "url": "{{ .Site.BaseURL }}",
  "affiliation": {
    "@type": "CollegeOrUniversity",
    "name": "University of California, Santa Barbara"
  },
  "jobTitle": "PhD Student in Department of Electrical and Computer Engineering",
  "sameAs": [
    "https://scholar.google.com/citations?user=1hvJRIQAAAAJ", 
    "https://www.linkedin.com/in/yihao-wu-a91474255/", 
    "https://orcid.org/0009-0003-5126-0961"
  ]
}
</script>
