<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"Person",
  "name":"Yihao Wu",
  "alternateName":"吴逸豪",
  "givenName":"Yihao","familyName":"Wu",
  "url":"{{ .Site.BaseURL }}",
  "image":"{{ .Site.BaseURL }}images/wyh.jpg",
  "affiliation":{"@type":"CollegeOrUniversity","name":"University of California, Santa Barbara","url":"https://www.ucsb.edu/"},
  "sameAs":[
    "https://scholar.google.com/citations?user=1hvJRIQAAAAJ",
    "https://www.linkedin.com/in/yihao-wu-a91474255/",
    "https://orcid.org/0009-0003-5126-0961"
  ]
}
</script>
